<% layout("layouts/boilerplate") %>

<h1>LOGIN</h1>
<form
  class="col-4 offset-4 p-1 validated-form"
  action="/login"
  method="POST"
  novalidate
>
  <div>
    <label for="Username">Username</label>
    <input class="form-control" type="text" name="username" id="username" />
  </div>
  <div>
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" />
  </div>
  <button>Submit</button>
</form>
